#container {
    width:100%;
    background-color: white;
}

#calculator {
    width:50%;
    height: auto;
    padding: 25px;
    border: 2px solid gray;
    border-radius: 3px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
#selectedValue {
    font-weight: bold;
}
#height {
    margin-bottom: 20px;
}

#btn {
    margin-top: 25px;
    display: inline-block;
}
#link {
display: inline-block;
margin-left: 10px;
}
#a {
    margin-bottom: 20px;
}
#dia {
    margin-left: 10px;
}